body {
	background-color: #000;
	margin: 0;
	height: 100%;
	overflow: hidden;
}

#main
{
	width: 100vmin;
	height: 100vmin;
	background-color: #333;
}

.zoom-controls {
	position: fixed;
	bottom: 5px;
	right: 10px;
}

.play-controls {
	position: fixed;
	bottom: 5px;
	left: 10px;
}

.controls > button {
	width: 8vmin;
	height: 8vmin;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 1.8em;
	display: block;
}

.stats {
	position: fixed;
	top: 5px;
	right: 10px;
	color: #DDD;
	font-size: 1em;
}